[tool.poetry]
name = "conjugate-models"
version = "0.1.0"
description = "Bayesian Conjugate Models in Python"
authors = ["Will Dean <wd60622@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "conjugate" },
    { include = "conjugate/py.typed" },
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
matplotlib = "^3.6.2"
numpy = "^1.24.3"
pandas = "*"
scipy = "<1.10.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.3.2"
pytest-cov = "^4.1.0"
pypika = "^0.48.9"
pymc = "^5.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
